/*
	SassyFlags

	Made by Daniel Thomas
	Share and Enjoy
*/

//Default variables
$flag-x: 25px !default;
$flag-y: 15px !default;

//Base
.flag {
	@extend .flaggy-block;
	width: $flag-x;
	height: $flag-y;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include animation(flag-loader linear infinite 1.5s);

	//Countrys
	// A
		&.AE, &.ae { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/AE+(United+Arab+Emirates).svg'); } // United Arab Emirates
	// B
		&.BR, &.br { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/BR+(Brazil).svg'); } // Brazil
	// C
		&.CH, &.ch { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/CH+(Switzerland).svg'); } // Switzerland
	// D
		&.DE, &.de { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/DE+(Germany).svg'); } // Germany
	// E
		&.ES, &.es { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/ES+(Spain).svg'); } // Spain
	// F
	// G
		&.GB, &.gb { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/GB+(United+Kingdom).svg'); } // United Kingdom
	// H
	// I
	// J
		&.JP, &.jp { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/JP+(Japan).svg'); } // Japan
	// K
	// L
	// M
	// N
	// O
	// P
	// Q
	// R
		&.RU, &.ru { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/RU+(Russia).svg'); } // Russia
	// S
		&.SE, &.se { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/SE+(Sweden).svg'); } // Sweden
		&.SO, &.so { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/SO+(Somalia).svg'); } // Somalia
	// T
	// U
		&.UA, &.ua { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/UA+(Ukraine).svg'); } // Ukraine
		&.US, &.us { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/US+(United+States+of+America).svg'); } // United States of America
	// V
		&.VN, &.vn { background-image: url('https://s3-us-west-2.amazonaws.com/layerful-flags/VN+(Vietnam).svg'); } // Veitnam
	// W
	// X
	// Y
	// Z
}

// Cross browser inline-block
.flaggy-block {
	display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

// Animations
@-webkit-keyframes flag-loader {
  0%   {background-color: #f5f5f5;}
  50%  {background-color: #e7e7e7;}
  100% {background-color: #fff;}
}

@keyframes flag-loader {
  0%   {background-color: #f5f5f5;}
  50%  {background-color: #e7e7e7;}
	100% {background-color: #fff;}
}
